<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>托管</title>
    <link rel="stylesheet" type="text/css" href="__static__/css/css_whir.css">
    <link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
</head>
<body>
{include file='index/index_top'}
<div class="Banner" style="background:url(__static__/img/banner04.jpg) no-repeat center center;"></div>
<div class="Contain">
    <div class="wrap tuoguan">
        <!--第一屏：start-->
        <div class="tuoguan1">
            <ul class="ul">


                <li>
                    <h2 class="h2">全包代理托管</h2>
                    <img src="__static__/img/bg11.png" alt="">
                    <p class="p title"> 免费装修 全程无忧</p>
                    <p class="p text">与房东签订固定期限的代理合同，合同期限内租
                        金固定，对房屋进行免费装修，租约结束后家电
                        家具全部归房东所有。合同期限内房屋安全维修
                        ...</p>
                </li>



                <li>
                    <p class="p title">繁琐归我 方便与您</p>
                    <p class="p text">房东与租客签订合同后，关于房屋维修，结账等 繁琐事宜委托我方代理，免去房东后顾之忧!</p>
                    <img src="__static__/img/bg12.png" alt="">
                    <h2 class="h2">租约代理托管</h2>
                </li>



                <li>
                    <h2 class="h2">租赁代理托管</h2>
                    <img src="__static__/img/bg13.png" alt="">
                    <p class="p title"> 专家代理 保证溢价</p>
                    <p class="p text">与房东签订固定租期的代理合同，“我们”拥有 独家代理经营权，提供专业托管服务，保证房屋 的最佳状态，获得最大房屋收益！</p>
                </li>


            </ul>
            <div class="clear"></div>
        </div>
        <!--第一屏：end-->

        <!--第二屏：start-->
        <div class="tuoguan2">
            <ul class="ul">


                <li class="list1">
                    <img src="__static__/img/bg14.png" alt="">
                </li>
                <li class="list2"></li>



                <li class="list1">
                    <img src="__static__/img/bg15.png" alt="">
                </li>
                <li class="list2"></li>



                <li class="list1">
                    <img src="__static__/img/bg16.png" alt="">
                </li>
                <li class="list2"></li>



                <li class="list1">
                    <img src="__static__/img/bg17.png" alt="">
                </li>


            </ul>
            <div class="clear"></div>
            <a href="javascript:void(0)" class="btn">一键托管房屋</a>
        </div>
        <!--第二屏：end-->
    </div>

</div>
{include file='index/index_bottom'}
</body>
</html>