<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我们设计</title>
    <link rel="stylesheet" type="text/css" href="__static__/css/css_whir.css">
    <link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
</head>
<body>
{include file='index/index_top'}
<div class="Banner" style="margin-top:1%;background:url(__static__/img/banner06.jpg) center center;"></div>
<div class="Contain">
    <div class="wrap">
        <div class="design">
            <ul class="ul">

                <li style="background:url(__static__/img/bg08.png) no-repeat center top;"><a href="">“别具匠心”，品位无忧！</a>
                    <div class="designDIV"><p class="p">	“宜家风格”，实用精巧！</p><p class="p">	“精彩布局”，独树一帜！</p></div>
                </li>

                <li style="background:url(__static__/img/bg07.png) no-repeat center top;"><a href="">“金玉其质”，品质无忧！</a>
                    <div class="designDIV"><p class="p">	“品牌家电”，出类拔萃！</p><p class="p">	“环保装修”，放心安家！</p></div>
                </li>

                <li style="background:url(__static__/img/bg09.png) no-repeat center top;"><a href="">“精益求精”，品牌无忧！</a>
                    <div class="designDIV"><p class="p">	“精品工艺”，凝聚心血！</p><p class="p">	“需求至上”，引领潮流！</p></div>
                </li>

            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file='index/index_bottom'}
</body>
</html>