<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="Author" content="万户网络">
	<meta content="万户网络 www.wanhu.com.cn" name="design">
	<meta name="Author" content="万户网络设计制作">
	<title>公寓直租专业服务商</title>
	<meta name="keywords" content="公寓直租 东昌新村 陆家嘴 短租 崂山新村 乳山二村 乳山三村 乳山四村 乳山五村 东园一村 东园二村 东园三村 东园四村 地铁站附近">
	<meta name="Description" content="公寓直租">
	<link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
	<link rel="stylesheet" type="text/css" href="__static__/css/css_whir.css">
	<link rel="stylesheet" href="__static__/css/swiper.min.css">
	<script type='text/javascript' src='__static__/js/jquery.min.js'></script>
	<script src="//hm.baidu.com/hm.js?0fca4299deeb39c1b2aef913fe594f69"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=cPMTIrV5Q6gkmpt0ZYsuGhCvHdn2vNFv"></script>
	<style>
		.swiper-container {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		.swiper-slide {
			background-size: cover;
			background-position: center;
		}
		.gallery-thumbs {
			height: 19%;
			box-sizing: border-box;
		}
		.gallery-thumbs .swiper-slide {
			width: 25%;
			height: 100%;
			opacity: 0.4;
		}
		.gallery-thumbs .swiper-slide-active {
			opacity: 1;
		}
	</style>
	<![endif]-->
	<script type="text/javascript">
//        //平台、设备和操作系统
//        var system = {
//            win: false,
//            mac: false,
//            xll: false
//        };
//        //检测平台
//        var p = navigator.platform;
//        system.win = p.indexOf("Win") == 0;
//        system.mac = p.indexOf("Mac") == 0;
//        system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
//        //跳转语句
//        if (system.win || system.mac || system.xll) {//转向电脑
//            //window.location.href = "login.jsp";
//        } else {
//            window.location.href ='/index_wap.aspx'; //转向手机端
//        }
	</script>

	<script type="text/javascript">
        var navID = "2";
	</script>
	<script src="http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=418897"></script><link rel="stylesheet" href="http://bdimg.share.baidu.com/static/api/css/share_style0_16.css?v=6aba13f0.css"></head>
<body>
<!--top-->


{include file='index/index_top'}

<!--top End-->
<!--banner-->

<div class="Banner" style="margin-top: 1%;background:url(__static__/img/banner03.jpg) no-repeat center center;"></div>

<!--banner-->
<div class="Contain">
	<div class="wrap">
		<div class="HouResour">
			<div class="HouResourImg">
				<div class="SubPre">
					<div class="swiper-container gallery-top" alt="Image description">
						<div class="bigImg swiper-wrapper" style="position: relative; width: 600px; height: 400px;">
							{foreach name='pic' id='pic_list'}
							<div class="swiper-slide"><a href="__pic__/uploads/{$pic_list}"  data-size="1024x1024"><img src="__pic__/uploads/{$pic_list}" style='width:100%;height:100%' /></a></div>
							{/foreach}
						</div>
						<!-- Add Arrows -->
						<div class="swiper-pagination"></div>
					</div>
					<div class="swiper-container gallery-thumbs">
						<div class="swiper-wrapper">
								{foreach name='s_pic' id='pic_list_1'}
								<div class="swiper-slide" style="background:url('__pic__/uploads/{$pic_list_1}');height:100%;background-size: contain;"></div>
								{/foreach}
						</div>
					</div>
				</div>
			</div>
			<div class="HouResourCon">
				<div class="ResourConer">
					<p><span>租金：</span><i>￥{$house.price}</i></p>
					<p><span>房屋：</span>{$house.title}</p>
					<p><span>小区：</span>{$house.address}</p>
					<p><span>地址：</span> {$house.unit}单元.{$house.doorplate}室</p>
					<p><span>配置：</span>{foreach name='fur' id='fur'}
						{$fur.furniture_name}
						{/foreach}</p>
				</div>
				<div class="RePhone"> <a href="#"><span>{$house.landlord_tel}</span><em>值班人员</em><i>{$house.landlord}</i></a> </div>
				<div class="ReRemind"><span>郑重提醒</span>：在签订合同之前，切勿支付任何形式的费用，以免上当受骗</div>
			</div>
		</div>
		<div class="HouResInfo">
			<div class="ResInfTip">
				<span><a href="javascript:void(0);" class="active">房源描述</a></span>
				<!--<span>房源图片</span>-->
			</div>
			<div class="ResInfo block">
				<div class="house_furniture">
					<div class="house_fur_title">
						<div class="res_pic"></div>
						<div class="house_fur_top">
							<div style="float:left;width:10%;height: 100%;font-size: 180%;line-height: 200%;">房屋配置</div>
							<div style="float:left;width:70%;height:0.2em;background-color: black;margin-top: 2%;"></div>
							<div style="float:left;width:20%;height: 100%;font-size: 180%;line-height: 200%;">Housing Allocation</div>
						</div>
					</div>
					<div class="house_fur_content">
						{foreach name='fur_list' id='fp'}
						<li>
							<img src="__static__/img/firniture/{$fp.furniture_pic}" />
							<br/>
							{$fp.furniture_name}
						</li>
						{/foreach}
					</div>
				</div>
				<div class="house_remark">
					<div class="house_fur_title">
						<div class="res_pic"></div>
						<div class="house_re_top">
							<div class="house_fur_top">
								<div style="float:left;width:15%;height: 100%;font-size: 180%;line-height: 200%;">关于此房源</div>
								<div style="float:left;width:65%;height:0.2em;background-color: black;margin-top: 2%;"></div>
								<div style="float:left;width:20%;height: 100%;font-size: 180%;line-height: 200%;">Housing About</div>
							</div>
						</div>
					</div>
					<div style="font-size:16px; padding:40px 0;">
						{$house.remark}
					</div>
				</div>
				<div class="house_transform">
					<div class="house_fur_title">
						<div class="res_pic"></div>
						<div class="house_tr_top">
							<div class="house_fur_top">
								<div style="float:left;width:10%;height: 100%;font-size: 180%;line-height: 200%;">交通周边</div>
								<div style="float:left;width:70%;height:0.2em;background-color: black;margin-top: 2%;"></div>
								<div style="float:left;width:20%;height: 100%;font-size: 180%;line-height: 200%;">The Traffic Around</div>
							</div>
						</div>
					</div>
					<div id="house_tr_map" style="width:100%;height:85%;">

					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="clear"></div>
</div>
<script type="text/javascript">
    $(function () {
        $(".ResInfTip span").click(function () {
            $(".ResInfTip span a").removeClass("active").siblings();
            $(this).find("a").addClass("active");
            var num = $(".ResInfTip span").index(this);
            $(".ResInfo").eq(num).addClass("block");
            $(".ResInfo").eq(num).siblings().removeClass("block");
        })
    });
</script>
<!--bottom-->


{include file='index/index_bottom'}
<!--right-->


<div class="float_right">
	<ul>

		<li class="list1"><a href="javascript:void(0);">关注我们</a>
			<div class="code"><img src="http://www.wmrent.com/cn/images/code.jpg"></div>
		</li>

		<li class="list2"><a href="/dep/index_41.aspx">房屋委托</a></li>

		<li class="list4"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1194146366&amp;site=qq&amp;menu=yes">在线客服</a></li>

		<li class="list5"><a href="/Map.aspx">地图找房</a></li>
		<li class="list3"><a href="javascript:scrollTo(0,0);" class="returntop">TOP</a></li>
	</ul>
</div>
<script type="text/javascript">
    //鼠标经过显示隐藏项
    $(".float_right li").hover(function () {
            $(this).find(".code").show();
        },
        function () {
            $(this).find(".code").hide();
        })
</script>

<!--right End-->
<script>var _hmt = _hmt || [];(function() {  var hm = document.createElement("script");  hm.src = "//hm.baidu.com/hm.js?0fca4299deeb39c1b2aef913fe594f69";  var s = document.getElementsByTagName("script")[0];   s.parentNode.insertBefore(hm, s);})();</script>

<!--bottom End-->

</body>
</html>
<script src="__static__/js/swiper.min.js"></script>
<script>

    var galleryTop = new Swiper('.gallery-top', {
//        navigation: {
//            nextEl: '.swiper-button-next',
//            prevEl: '.swiper-button-prev',
//        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        spaceBetween: 10,
//        autoplay: {
//            delay: 2500,
//            stopOnLastSlide: false,
//            disableOnInteraction: false,
//        },
//		loop:true,
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        controller: {
            control: galleryTop, //控制Swiper1
        },
        slidesPerView: 'auto',
        autoplay: {
            delay: 2500,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        slideToClickedSlide: true,
//        centeredSlides:true,
//        normalizeSlideIndex:false,
    });


    // 百度地图API功能
    var map = new BMap.Map("house_tr_map");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(121.480524,31.23595), 13);
    var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});// 左上角，添加比例尺
    var top_left_navigation = new BMap.NavigationControl();  //左上角，添加默认缩放平移控件
    var top_right_navigation = new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL});
    map.addControl(top_left_control);
    map.addControl(top_left_navigation);
    map.addControl(top_right_navigation);
    var local = new BMap.LocalSearch(map, {
        renderOptions:{map: map}

    });
    local.enableFirstResultSelection();
    local.search("{$house.address}");
    //    $('#index_sub').click(function(){
//        map.clearOverlays();
//        $.ajax({
//            type: "POST",
//            url:"__back__/index.php/index/map/get_data",
//            data:{'response':$('#index_text').val()},
//            dataType: "json",
//            success: function(data) {
//                $.each(data,function(i,value){
//                    var new_point = new BMap.Point(value.longitude,value.latitude);
//                    var marker = new BMap.Marker(new_point);  // 创建标注
//                    map.addOverlay(marker);              // 将标注添加到地图中
//                    map.panTo(new_point);
//                    var opts = {
//                        width : 100,     // 信息窗口宽度
//                        height: 100,     // 信息窗口高度
////								  title : value.title, // 信息窗口标题
//                        enableMessage:true,//设置允许信息窗发送短息
//                        message:""
//                    }
//                    var infoWindow = new BMap.InfoWindow("<a href='../../index/detail/index/id/"+value.id+"' style='text-underline:none;color:orange;'><img src='__pic__/uploads/"+value.pic_1+"' style='width:100px;height:100px;float:left;'/></a><span>"+value.address+value.unit+"单元"+"</span>", opts);
//                    marker.addEventListener("click", function(){
//                        map.openInfoWindow(infoWindow,new_point); //开启信息窗口
//                    });
//                })
//            }
//        });
//        setTimeout(function(){
//            map.setZoom(17);
//        }, 2000);
//    })



</script>