<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			
		</title>
      <link type='text/css' href='__static__/css/css_whir.css' rel='stylesheet'  />
      <link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
      <style>
        .pagination{
          width:100%;
          height:2em;
          margin-bottom: 2em;
        }
        .pagination li{
          width:30px;
          height:30px;
          text-align: center;
          line-height:30px;
          border:1px solid #E8E8E8;
          float:left;
          margin-left:10px;
          cursor: pointer;
        }
        .pagination li:hover{
          background-color: orange;
          color:white;
        }
        .active{
          background-color: orange;
          color:white;
        }
      </style>
    </head>
<body>
<!--top-->


{include file='index/index_top'}



<!--top End-->

<!--banner-->

<div class="Banner" {if condition='$type eq 1'}style="margin-top: 1%;background:url(__static__/img/banner03.jpg) center center;"{else}style="margin-top: 1%;background:url(__static__/img/banner05.jpg) center center;"{/if}></div>

<!--banner-->

<div class="Contain"> 
  <div class="wrap">
      <div class="Current">
        <a href="/index.aspx">首页</a> &gt; <span>{if condition='$type eq 1'}开心安家{else}贴心短租{/if}</span>
      </div>
    <script type="text/javascript"></script>
      <div class="condition">
        
        <ul class="ul">
          <li class="top">区域</li>
          <li class="list"><a id="quyu0" href="javascript:void(0);" onclick="UrlParams('quyu',0);return false;" class="on">不限</a></li>
          
          <li class="list"><a id="quyu20" href="javascript:void(0);" onclick="UrlParams('quyu',20);return false;">徐汇</a></li>
          
          <li class="list"><a id="quyu19" href="javascript:void(0);" onclick="UrlParams('quyu',19);return false;">闵行</a></li>
          
          <li class="list"><a id="quyu18" href="javascript:void(0);" onclick="UrlParams('quyu',18);return false;">浦东</a></li>
          
          <li class="list"><a id="quyu17" href="javascript:void(0);" onclick="UrlParams('quyu',17);return false;">闸北</a></li>
          
          <li class="list"><a id="quyu16" href="javascript:void(0);" onclick="UrlParams('quyu',16);return false;">嘉定</a></li>
          
          <li class="list"><a id="quyu15" href="javascript:void(0);" onclick="UrlParams('quyu',15);return false;">松江</a></li>
          
          <li class="list"><a id="quyu14" href="javascript:void(0);" onclick="UrlParams('quyu',14);return false;">普陀</a></li>
          
          <li class="list"><a id="quyu13" href="javascript:void(0);" onclick="UrlParams('quyu',13);return false;">杨浦</a></li>
          
          <li class="list"><a id="quyu12" href="javascript:void(0);" onclick="UrlParams('quyu',12);return false;">虹口</a></li>
          
          <li class="list"><a id="quyu11" href="javascript:void(0);" onclick="UrlParams('quyu',11);return false;">长宁</a></li>
          
          <li class="list"><a id="quyu10" href="javascript:void(0);" onclick="UrlParams('quyu',10);return false;">宝山</a></li>
          
          <li class="list"><a id="quyu9" href="javascript:void(0);" onclick="UrlParams('quyu',9);return false;">静安</a></li>
          
          <li class="list"><a id="quyu8" href="javascript:void(0);" onclick="UrlParams('quyu',8);return false;">黄浦</a></li>
          
          <li class="list"><a id="quyu7" href="javascript:void(0);" onclick="UrlParams('quyu',7);return false;">金山</a></li>
          
          <li class="list"><a id="quyu6" href="javascript:void(0);" onclick="UrlParams('quyu',6);return false;">奉贤</a></li>
          
          <li class="list"><a id="quyu5" href="javascript:void(0);" onclick="UrlParams('quyu',5);return false;">青浦</a></li>
          
          <li class="list"><a id="quyu4" href="javascript:void(0);" onclick="UrlParams('quyu',4);return false;">崇明</a></li>
          
          <li class="list"><a id="quyu3" href="javascript:void(0);" onclick="UrlParams('quyu',3);return false;">上海周边</a></li>
          
        </ul>

        <ul class="ul">
          <li class="top">租金</li>
          <li class="list"><a href="javascript:void(0);" id="zhujin0" onclick="UrlParams('zhujin',0);return false;" class="on">不限</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="zhujin80" onclick="UrlParams('zhujin',80);return false;">3000以上</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="zhujin79" onclick="UrlParams('zhujin',79);return false;">2000-3000</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="zhujin42" onclick="UrlParams('zhujin',42);return false;">300-500元</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="zhujin41" onclick="UrlParams('zhujin',41);return false;">500-800元</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="zhujin40" onclick="UrlParams('zhujin',40);return false;">800-1000元</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="zhujin39" onclick="UrlParams('zhujin',39);return false;">1000-2000</a></li>
          
          <li class="search"><input id="startZhuJinInput" type="text" onblur="checkZuJinValue(this);return false;"> - <input id="endZhuJinInput" type="text" onblur="checkZuJinValue(this);return false;"> <input type="button" value="确定" style="cursor:pointer;" onclick="UrlParams('userInputZuJin',1);return false;"></li>
        </ul>

        
        <ul class="ul">
          <li class="top">居室 </li>
          <li class="list"><a href="javascript:void(0);" id="jushi0" onclick="UrlParams('jushi',0);return false;" class="on">不限</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="jushi47" onclick="UrlParams('jushi',47);return false;">1居</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="jushi46" onclick="UrlParams('jushi',46);return false;">2居</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="jushi45" onclick="UrlParams('jushi',45);return false;">3居</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="jushi44" onclick="UrlParams('jushi',44);return false;">4居</a></li>
          
          <li class="list"><a href="javascript:void(0);" id="jushi43" onclick="UrlParams('jushi',43);return false;">4居以上</a></li>
          
        </ul>   
         
               
      </div>
      
      <div class="hotSelect">
            <div class="BanList">
              <ul class="ul">
                <li>
                    <dl>
                      <dt class="top">热门精选</dt>
                      <dt class="list list2"><a href="/kxaj/index_13.aspx">综合</a></dt>
                      <dt class="list list1"><a href="javascript:void(0);" id="renqi" onclick="UrlParams('renqi');return false;" value="1" class="renqiclass" style="background: url(&quot;/cn/images/arrow06.png&quot;) 43px center no-repeat;">人气</a></dt>
                      <dt class="list list1"><a href="javascript:void(0);" id="jiage" onclick="UrlParams('jiage');return false;" value="1" class="jiageclass" style="background: url(&quot;/cn/images/arrow06.png&quot;) 43px center no-repeat;">价格</a></dt>
                      <dt class="input">
                        <input id="startZhuJinInputXia" type="text" onkeydown="entersearch()" onblur="checkZuJinValue(this);return false;">
                        <input id="endZhuJinInputXia" type="text" onkeydown="entersearch()" onblur="checkZuJinValue(this);return false;">
                      </dt>
                      <dt><input type="button" value="搜索" class="SSRMJX" onclick="UrlParams('userInputZuJinXia', 1);"></dt>
                    </dl>
                </li>
              </ul>
            </div>
            <div class="btn">
              <!--<a href="javascript:void(0);" class="prev"></a>
              <a href="javascript:void(0);" class="next"></a>-->
            </div>
            <div class="pageState">
              <span></span> 
            </div>
      </div>
<!--      <script type="text/javascript">
        jQuery(".hotSelect").slide({mainCell:".BanList ul",effect:"leftLoop",trigger:"click"});
      </script>-->
      <div class="rent_list">
        <ul class="ul">
          {foreach name='list' id='list'}
          <li>
            <div class="left">
              <a href="__back__/index/house_detail/index/id/{$list.id}" class="img">
                <img src="__pic__/uploads/{$list.pic_1}" alt="">
              </a>
              <div class="text">
                <a href="__back__/index/house_detail/index/id/{$list.id}">{$list.title}</a>
                <p class="p desc">{foreach name='list.furniture_list' id='f_list'}
                  {$f_list.furniture_name}{/foreach}</p>
                <p class="p address">
                </p><p class="label">
                    {foreach name='list.key_list' id='k_list'}
                    <span style="background: rgb(226, 141, 144);">{$k_list}</span>
                    {/foreach}
                </p>
                
              </div>
            </div>
            <div class="right">
              <span>￥{$list.price} <em>(每月)</em></span>
              <a href="__back__/index/house_detail/index/id/{$list.id}">查看更多</a>
            </div>
            <div class="clear"></div>
          </li>
          {/foreach}


                    
                </ul>

                <div class="clear"></div>
            </div>
    {$page}
        </div>
  </div>
</div><iframe name="266212" height="0" width="0" src="http://360fenxi.mediav.com/mv.html" style="display: none;"></iframe>

<!--bottom-->
 
 
{include file='index/index_bottom'}
<!--right-->
 
 
<div class="float_right">
  <ul>
    
      <li class="list1"><a href="javascript:void(0);">关注我们</a>
        <div class="code" style="display: none;"><img src="http://www.wmrent.com/cn/images/code.jpg"></div>
      </li>
    
    <li class="list2"><a href="/dep/index_41.aspx">房屋委托</a></li>
    
      <li class="list4"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1194146366&amp;site=qq&amp;menu=yes">在线客服</a></li>
    
    <li class="list5"><a href="/Map.aspx">地图找房</a></li>
    <li class="list3"><a href="javascript:scrollTo(0,0);" class="returntop">TOP</a></li>
  </ul>
</div>


</body>
</html>
