<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			
		</title>
      <link type='text/css' href='__static__/css/css_whir.css' rel='stylesheet'  />
      <link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
      <style>
        .pagination{
          width:100%;
          height:2em;
          margin-bottom: 2em;
        }
        .pagination li{
          width:30px;
          height:30px;
          text-align: center;
          line-height:30px;
          border:1px solid #E8E8E8;
          float:left;
          margin-left:10px;
          cursor: pointer;
          padding:0px;
        }
        .pagination li:hover{
          background-color: orange;
          color:white;
        }
        .active{
          background-color: orange;
          color:white;
        }
        .page li{
          width:30px;
          height:30px;
          text-align: center;
          line-height:30px;
          border:1px solid #E8E8E8;
          float:left;
          margin-left:10px;
          cursor: pointer;
          padding:0px;
        }
      </style>
    </head>
<body>
<!--top-->


{include file='index/index_top'}



<!--top End-->

<!--banner-->

<div class="Banner" {if condition='$type eq 1'}style="margin-top: 1%;background:url(__static__/img/banner03.jpg) center center;"{else}style="margin-top: 1%;background:url(__static__/img/banner05.jpg) center center;"{/if}></div>

<!--banner-->

<div class="Contain"> 
  <div class="wrap">
      <div class="Current">
        <a href="/index.aspx">首页</a> &gt; <span>{if condition='$type eq 1'}开心安家{else}贴心短租{/if}</span>
      </div>
    <script type="text/javascript"></script>
      <div class="condition">
        
        <ul class="ul">
          <li class="top">区域</li>
          <li class="list"><a onclick="get_data('district',-1)" class="on">不限</a></li>
          {foreach name='dis' id='dis'}
          <li class="list"><a data-*="{$dis.l_id}" data-type="district" onclick="get_data('district',{$dis.l_id})">{$dis.location_name}</a></li>
          {/foreach}

          
        </ul>

        <ul class="ul">
          <li class="top">租金</li>
          <li class="list"><a  id="zhujin0" onclick="get_data('price',-1)" class="on">不限</a></li>

          
          <li class="list"><a data-*="2000" data-type="price" onclick="get_data('price',2000)">2000-4000元</a></li>

          <li class="list"><a data-*="4000" data-type="price" onclick="get_data('price',4000)">4000-6000元</a></li>
          
          <li class="list"><a data-*="6000" data-type="price" onclick="get_data('price',6000)">6000-8000元</a></li>

          <li class="list"><a data-*="8000" data-type="price" onclick="get_data('price',8000)">8000元以上</a></li>

        </ul>

        
        <ul class="ul">
          <li class="top">居室 </li>
          <li class="list"><a id="jushi0" onclick="get_data('house_type',-1)" class="on">不限</a></li>
          {foreach name='h_type' id='htype'}
          <li class="list"><a data-*="{$htype.t_id}" data-type="house_type" onclick="get_data('house_type',{$htype.t_id})">{$htype.house_type_name}</a></li>
          {/foreach}
        </ul>   
         
               
      </div>
      
      <div class="hotSelect">
            <div class="BanList">
              <ul class="ul">
                <li>
                    <dl>
                      <dt class="top">热门精选</dt>
                      <dt class="list list2"><a href="/kxaj/index_13.aspx">综合</a></dt>
                      <dt class="list list1"><a href="javascript:void(0);" id="renqi" onclick="UrlParams('renqi');return false;" value="1" class="renqiclass" style="background: url(&quot;/cn/images/arrow06.png&quot;) 43px center no-repeat;">人气</a></dt>
                      <dt class="list list1"><a href="javascript:void(0);" id="jiage" onclick="UrlParams('jiage');return false;" value="1" class="jiageclass" style="background: url(&quot;/cn/images/arrow06.png&quot;) 43px center no-repeat;">价格</a></dt>
                      <dt class="input">
                        <input id="startZhuJinInputXia" type="text" onkeydown="entersearch()" onblur="checkZuJinValue(this);return false;">
                        <input id="endZhuJinInputXia" type="text" onkeydown="entersearch()" onblur="checkZuJinValue(this);return false;">
                      </dt>
                      <dt><input type="button" value="搜索" class="SSRMJX" onclick="UrlParams('userInputZuJinXia', 1);"></dt>
                    </dl>
                </li>
              </ul>
            </div>
            <div class="btn">
              <!--<a href="javascript:void(0);" class="prev"></a>
              <a href="javascript:void(0);" class="next"></a>-->
            </div>
            <div class="pageState">
              <span></span> 
            </div>
      </div>
<!--      <script type="text/javascript">
        jQuery(".hotSelect").slide({mainCell:".BanList ul",effect:"leftLoop",trigger:"click"});
      </script>-->
      <div class="rent_list">
        <ul class="ul">
          {foreach name='list' id='list'}
          <li>
            <div class="left">
              <a href="__back__/index/house_detail/index/id/{$list.id}" class="img">
                <img src="__pic__/uploads/{$list.pic_1}" alt="">
              </a>
              <div class="text">
                <a href="__back__/index/house_detail/index/id/{$list.id}">{$list.title}</a>
                <p class="p desc">{foreach name='list.furniture_list' id='f_list'}
                  {$f_list.furniture_name}{/foreach}</p>
                <p class="p address">
                </p><p class="label">
                {foreach name='list.key_list' id='k_list'}
                <span style="background: rgb(226, 141, 144);">{$k_list}</span>
                {/foreach}
              </p>

              </div>
            </div>
            <div class="right">
              <span>￥{$list.price} <em>(每月)</em></span>
              <a href="__back__/index/house_detail/index/id/{$list.id}">查看更多</a>
            </div>
            <div class="clear"></div>
          </li>
          {/foreach}



        </ul>
        <div class="page">
          {$page}
        </div>


                <div class="clear"></div>
      </div>
        </div>
  </div>
</div><iframe name="266212" height="0" width="0" src="http://360fenxi.mediav.com/mv.html" style="display: none;"></iframe>

<!--bottom-->
 
 
{include file='index/index_bottom'}
<!--right-->
 
 
<div class="float_right">
  <ul>
    
      <li class="list1"><a href="javascript:void(0);">关注我们</a>
        <div class="code" style="display: none;"><img src="http://www.wmrent.com/cn/images/code.jpg"></div>
      </li>
    
    <li class="list2"><a href="/dep/index_41.aspx">房屋委托</a></li>
    
      <li class="list4"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1194146366&amp;site=qq&amp;menu=yes">在线客服</a></li>
    
    <li class="list5"><a href="/Map.aspx">地图找房</a></li>
    <li class="list3"><a href="javascript:scrollTo(0,0);" class="returntop">TOP</a></li>
  </ul>
</div>


</body>
</html>
<script type='text/javascript' src='__static__/js/jquery.min.js'></script>
<script>
  $(function(){
      if('{$tishi}' != ''){
          alert('{$tishi}');
      }
  })
  $('.condition a').click(function(){
      $(this).parent().parent().find('.on').removeClass('on');
      $(this).addClass('on');

  })
  function gotopage(a){
      $('.page li').css('background-color','white');
      $('.page li').eq(a-1).css('background-color','orange');
      var s_data = {};
      $('.on').each(function(key,value){
          if(value['dataset']['*'] != undefined){
              s_data[value['dataset']['type']] = value['dataset']['*'];
          }
      })
      var jsonString = JSON.stringify(s_data);
      $.ajax({
          type: "POST",
          url:"{:url('list_table/get_data')}",
          data:{'page':a,'s_data':jsonString},// 序列化表单值
          dataType: "json",
          success: function(data) {
              var html = '';
              $.each(data.data,function(i,v){
                  html +='<li><div class="left"><a href="__back__/index/house_detail/index/id/'+v.id+'" class="img"><img src="__pic__/uploads/'+v.pic_1+'" alt=""></a><div class="text"><a href="__back__/index/house_detail/index/id/{$list.id}">'+v.title+'</a><p class="p desc">';
                  $.each(v.furniture_list,function(j,k){
                      html +=k.furniture_name;
                  })
                  html +='</p><p class="p address"></p><p class="label">';
                  $.each(v.key_list,function(a,b){
                      html +='<span style="background: rgb(226, 141, 144);">'+b+'</span>';
                  })
                  html +='</p></div></div><div class="right"><span>￥'+v.price+' <em>(每月)</em></span><a href="__back__/index/house_detail/index/id/{$list.id}">查看更多</a></div><div class="clear"></div></li>';
              })
              $('.rent_list .ul').empty();
              $('.rent_list .ul').append(html);
          }
      });
  }
  var page = 1;
  function get_data(type,data){
      var s_data = {};
      $('.on').each(function(key,value){
          if(value['dataset']['*'] != undefined){
              s_data[value['dataset']['type']] = value['dataset']['*'];
          }
      })
          s_data[type] = data;
      var jsonString = JSON.stringify(s_data);
      $.ajax({
          type: "POST",
          url:"{:url('list_table/get_data')}",
          data:{'page':page,'s_data':jsonString},// 序列化表单值
          dataType: "json",
          success: function(data) {
              var html = '';
              $.each(data.data,function(i,v){
                  html +='<li><div class="left"><a href="__back__/index/house_detail/index/id/'+v.id+'" class="img"><img src="__pic__/uploads/'+v.pic_1+'" alt=""></a><div class="text"><a href="__back__/index/house_detail/index/id/{$list.id}">'+v.title+'</a><p class="p desc">';
                      $.each(v.furniture_list,function(j,k){
                          html +=k.furniture_name;
                      })
                  html +='</p><p class="p address"></p><p class="label">';
                  $.each(v.key_list,function(a,b){
                      html +='<span style="background: rgb(226, 141, 144);">'+b+'</span>';
                  })
                      html +='</p></div></div><div class="right"><span>￥'+v.price+' <em>(每月)</em></span><a href="__back__/index/house_detail/index/id/{$list.id}">查看更多</a></div><div class="clear"></div></li>';
              })
              var htm = '';
              for(var z=1;z<=data.count;z++){
                  htm +='<li class="page_li" onclick="gotopage('+z+')">'+z+'</li>';
              }
              $('.rent_list ul').empty();
              $('.page').empty();
              $('.rent_list .ul').append(html);
              $('.page').append(htm);
              $('.page li').eq(0).css('background-color','orange');
          }
      });
  }

//  $(".pagination a").click(function(){
//      var url = $(this).attr('href');
//      $.ajax({
//          'type' : 'get',
//          'url'  :  url,
//          'data':{'num':jsonString},
//          success:function(data){
//              $('.rent_list').html(data);
//          }
//      })
//      return false;
//  });
</script>