<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="__static__/css/css_whir.css">
    <link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
    <style>
        .content{
            text-align: center;
            font-size:110%;
            margin-bottom:50px;
        }
        .content p{
            font-size:200%;
            text-decoration:underline;
        }
    </style>
</head>
<body>
{include file='index/index_top'}

<!--top End-->
<!--banner-->

<div class="Banner" style="background:url(__static__/img/banner10.jpg) no-repeat center center;"></div>
<div class="content">
    <p>"我们" 来了</p>

    2003年8月，“我们”实体公司上海润居房地产经纪事务所正式成立。十几年来我们一直致力于房屋租赁托管服务。把“房产托管专家”的服务作为我们的使命和目标！<br/>
    “我们”的服务领域覆盖了陆家嘴、黄浦、静安等中心区域，掌握几万套房东信息；几万套中高档房源信息；<br/>
    “我们”以专业引领、周到服务专注于包租代理托管、租赁代理托管和租约代理托管。形成了专业的房产咨询管理团队、房屋装潢设计团队和房屋维修服务团队！<br/>
    “我们”以贴心专业的服务、优质的房源品质和公道的价格在赢得业界良好口碑的同时，也赢得了广大房东和租客的交口称赞！<br/>
    <p>"我们" 服务宗旨</p>

    品行是我们行事的准则！为此我们一诺千金，贴心呵护！<br/>
    品质是我们前行的保证！为此我们专业制胜，精益求精！<br/>
    品牌是我们毕生的追求！为此我们别具匠心，携手同行！<br/>
    在我们这里<br/>
    没有陌生人，只有相见恨晚的朋友！没有异乡人，只有一拍即合的故知！没有孤独者，只有惺惺相惜的知己！<br/>
    <p>"我们" 品质</p>

    “品牌家电”，出类拔萃！<br/>
    “环保装修”，放心安家！<br/>
    “金玉其质”，宜家风格！<br/>


    <p>"我们" 生活</p>

    您的需求就是我们的生活！<br/>
    您的方便就是我们的责任！<br/>
    您的满意就是我们的目标！<br/>
    我们为您们！您们为我们！我们心意相牵！我们携手共赢！<br/>
    <p>"我们" 承诺</p>

    怕什么孤单,银屏中画面很暖<br/>
    见底的咖啡一回回填满,简单又寻常的嘘寒问暖<br/>
    曾在你心里多千想万盼,如今由我为你点滴实现<br/>
    即使人群已慢慢离散,空旷的座位无人作伴<br/>
    总有我们一起分担,夜晚没那么艰难,心中渐渐释然<br/>
</div>
{include file='index/index_bottom'}
</body>
</html>