<div class="Bottom">
    <div class="wrap">
        <div class="bottomL">
            <div class="bottomT">
                <ul class="ul">
                    <!--关于我们-->
                    <li><a href="/index.aspx">首页</a></li>
                    <!--关于我们-->
                    <li><a href="/gywmDN/index_12.aspx">关于我们</a></li>
                    <!--开心安家-->
                    <li><a href="/kxaj/index_13.aspx">开心安家</a></li>
                    <!--放心托管-->
                    <li><a href="/dep/index_41.aspx">放心托管</a></li>
                    <!--贴心短租-->
                    <li><a href="/duanzu/index_18.aspx">贴心短租</a></li>
                    <!--我们设计-->
                    <li><a href="/wmsj/index_19.aspx">我们设计</a></li>
                    <!--我们动态-->
                    <li><a href="/wmdt/index_20.aspx">我们动态</a></li>
                    <!--房产论坛-->
                    <li><a href="/gywmDN/index_12.aspx">房产地图</a></li>
                    <!--加盟我们-->
                    <!--<li><a href='/jmwm/index_21.aspx'>加盟我们</a></li>-->
                </ul>
                <div class="clear"></div>
            </div>
            <div class="bottomD">
                <div class="bottomDL">
                    <div class="bottom_nav">
                        <!--联系我们-->
                        <a href="#">联系我们</a><em>|</em>
                        <!--法律声明-->
                        <a href="/flsm/index_37.aspx">法律声明</a><em>|</em>
                        <!--网站地图-->
                        <a href="/wzdt/index_38.aspx">网站地图</a><em>|</em>
                        <a href="/cnmember/memberCenter.aspx">会员功能</a>
                    </div>
                    <div class="copy">
                        Copyright@2015runju .com版权所有<br>
                        经营许可证编号 <a href="http://www.miitbeian.gov.cn/">沪ICP备16018649号</a>
                    </div>
                </div>
                <div class="bdsharebuttonbox  bdshare-button-style0-16" id="bottomDR" data-bd-bind="1508035746861">
                    <a href="javascript:void(0);" class="weixin">

                        <span><img src="http://www.wmrent.com/uploadfiles/2016/03/201603141442234223.jpg" alt=""></span>

                    </a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                </div>
                <script type="text/javascript">
                    window._bd_share_config = { "common": { "bdSnsKey": {}, "bdText": "", "bdMini": "2", "bdMiniList": false, "bdPic": "", "bdStyle": "0", "bdSize": "36" }, "share": {} }; with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                </script>
            </div>

        </div>
        <div class="bottomR">

            <div class="QRcode"><img src="http://www.wmrent.com/uploadfiles/2016/03/201603141442234223.jpg" alt="">

                <span>扫一扫关注我们</span>
            </div>
        </div>
    </div>
</div>