<div id='top'>
    <div class='top_title'>
        <div class='logo'><a href='__back__/index' ></a></div>
        <div class='hphone'><div class="hphone_in"><img src='__static__/img/phone.png' /></div><span class="hphone_sp">24小时客服热线</span><h3 class="hphone_h" style="    margin: 0;font-size: 20px;color: #ff9000;">400-8213-449</h3></div>
        <div class='top_right_top'>
            <div id="loginbefore" class="TopNav" style="display: block;">
                <a href="" class="Top_btn">在线咨询</a><em></em>
                <a href="" class="Top_btn">会员登录</a>
                <a href="" class="btn">注册</a>
            </div>
            <div id="loginAfter" class="TopNav" style="display:none;">
                <a href="" class="Top_btn">在线咨询</a><em></em>
                <a href="" class="Top_btn">欢迎您，<span id="userNameSpan"></span></a>
                <a href="#" class="btn" onclick="tuiChu();return false;">退出</a>
            </div>
            <div class="Search">
                <input type="text" placeholder="Search" id="key" />
                <input type="button" style="cursor:pointer;" onclick="">
            </div>
        </div>
        <div class='top_right_center'>
            <ul>
                <li><a class='navA' href='__back__/index' >首页</a></li>
                <li><a class='navA' href='__back__/index/map' >房产地图</a></li>
                <li><a class='navA' href='__back__/index/list_table/index/a/1' >开心安家</a></li>
                <li><a class='navA' href='__back__/index/tuo_guan' >放心托管</a></li>
                <li><a class='navA' href='__back__/index/list_table/index/a/0' >贴心短租</a></li>
                <li><a class='navA' href='__back__/index/sheji' >我们设计</a></li>
                <li><a class='navA' href='' >我们动态</a></li>
                <li><a class='navA' href='__back__/index/about' >关于我们</a></li>
            </ul>
        </div>
    </div>
    <div class='clear' ></div>
</div>