<html>
	<head>
		<link type='text/css' href='__static__/css/index.css' rel='stylesheet'  />
		<link type='text/css' href='__static__/css/mylunbo.css' rel='stylesheet'  />
		<link rel="stylesheet" href="__static__/css/swiper.min.css">
		<script type='text/javascript' src='__static__/js/jquery.min.js'></script>
		<style>
			.swiper-container-son {
				 width: 380px;
				 height: 85%;
			 }
			.swiper-container-father {
				width: 100%;
				height: 80%;
			}
			.swiper-slide {
				text-align: center;
				font-size: 18px;
				height:90%;
				background: #fff;

				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}

		</style>
	</head>
	<body>
	{include file='index/index_top'}
		<div class='Contain'>
			<div id='lunbo'>
				<ul class='l_ul'>
					<li class='l_li' style='display: block;'><img src='__static__/img/homeban01.jpg' /></li>
					<li class='l_li'><img src='__static__/img/homeban02.jpg' /></li>
					<li class='l_li'><img src='__static__/img/homeban03.jpg' /></li>
				</ul>
				<div class='left_button'></div>
				<div class='left_button'></div>
				<div class="idxbox1">
				  	<div class="wrap">
				  		<ul class="ul">
				  			<li>
				  				<h3 class="h3" style="background:url(../public/static/img/icon05.png) no-repeat left center;"><a href="javascript:void(0);">我们的家</a></h3>				  				
				  				<a href="__back__/index/list_table/index?a=1" class="list">开心整租</a>
				  				<a href="__back__/index/list_table/index?a=0" class="list">贴心短租</a>
				  			</li>
				  			<li>
				  				<h3 class="h3" style="background:url(../public/static/img/icon06.png) no-repeat left center;"><a href="javascript:void(0);">热点地铁站</a></h3>				  				
				  				<a href="__back__/index/list_table/index?a=1&list=张江高科" class="list">张江高科</a>
				  				<a href="__back__/index/list_table/index?a=1&list=陆家嘴" class="list">陆家嘴</a>
				  				<a href="__back__/index/list_table/index?a=1&list=世纪大道" class="list">世纪大道</a>
				  			</li>
				  			<li>
				  				<h3 class="h3" style="background:url(../public/static/img/icon07.png) no-repeat left center;"><a href="javascript:void(0);">热点区域</a></h3>
				  				<a href="__back__/index/list_table/index?a=1&list=浦东新区" class="list">浦东新区</a>
				  				<a href="__back__/index/list_table/index?a=1&list=黄浦区" class="list">黄浦区</a>
				  				<a href="__back__/index/list_table/index?a=1&list=徐汇区" class="list">徐汇区</a>
				  			</li>
				  			<li>
				  				<h3 class="h3" style="background:url(../public/static/img/icon08.png) no-repeat left center;"><a href="javascript:void(0);">我们服务</a></h3>			                    
				  				<a href="" class="list">维修</a>
				  				<a href="" class="list">保洁</a>
				  				<a href="" class="list">快递</a>
				  			</li>
				  		</ul>
				  	</div>
				  </div>
			</div>			
			<div id='idxbox2'>
				<div class="wrap">
					<h1 class="h1">开心安家</h1>
					<div class="swiper-container swiper-container-father">
					<div class="idxList_wrap swiper-wrapper">
						{foreach name='house' id='house'}
		               <div class="idxList swiper-slide">
						   <input type="hidden" class="house_id" value="{$house.id}" />
					            <div class="BanList" style="width:100%;float:left;">
									<div class="swiper-container swiper-container-son" alt="Image description">
										<div class="my-gallery swiper-wrapper">
											{foreach name='house.pic_list' id='pic_list' key='key'}
											<div class="swiper-slide"><img src="__pic__/uploads/{$pic_list}" style='width:100%;height:100%' /></div>
											{/foreach}
										</div>
										<!-- Add Pagination -->
									</div>
									<div class="desc" style="float:left;">
									<span class="label orange"><!---->
											{$house.address}
									</span>
											<a href="" class="title">{$house.underground}地铁站  </a>
												<span class="rent" style="padding-left:50px;">￥{$house.price}/每月</span>
										</div>
					            </div>

			            </div>
						{/foreach}
						<div class="clear"></div>
					</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>
			</div>
			<div class='read_more changzu'>更多房源</div>
			<div id='duanzu'>
				<div class='wrap'>
				<div class='h1'>贴心短租</div>
					<div class="swiper-container swiper-container-father">
						<div class="idxList_wrap swiper-wrapper">
							{foreach name='hou' id='hou'}
							<div class="idxList swiper-slide">
								<input type="hidden" class="house_id" value="{$house.id}" />
								<div class="BanList" style="width:100%;float:left;">
									<div class="swiper-container swiper-container-son" alt="Image description">
										<div class="my-gallery swiper-wrapper">
											{foreach name='hou.pic_list' id='pic_li' key='key'}
											<div class="swiper-slide"><img src="__pic__/uploads/{$pic_li}" style='width:100%;height:100%' /></div>
											{/foreach}
										</div>
										<!-- Add Pagination -->
									</div>
									<div class="desc" style="float:left;">
									<span class="label orange"><!---->
											{$house.address}
									</span>
										<a href="" class="title">{$house.underground}地铁站  </a>
										<span class="rent" style="padding-left:50px;">￥{$house.price}/每月</span>
									</div>
								</div>

							</div>
							{/foreach}
							<div class="clear"></div>
						</div>
						<div class="swiper-button-next"></div>
						<div class="swiper-button-prev"></div>
					</div>
				</div>

			</div>
			<div class='read_more duanzu'>更多房源</div>
			<div class="idxbox4">
				<div class="wrap">
					<h1 class="h1">我们设计</h1>
					<ul class="ul">
		                
		                        
			                        <li>
				                        <div class="list_box" style="background:url(/uploadfiles/womensheji/bg01.png) no-repeat 20px 23px;">
					                        <h3 class="h3"><a href="">别具匠心</a></h3>
					                        <em></em>
				                        </div>
				                        <a href="" class="img"><img src="http://www.wmrent.com/uploadfiles/womensheji/index01_16.jpg" alt=""></a>
			                        </li>
		                        
		                
		                        
		                            <li>
				                        <a href="" class="img"><img src="http://www.wmrent.com/uploadfiles/womensheji/index01_19.jpg" alt=""></a>
				                        <div class="list_box" style="background:url(/uploadfiles/womensheji/bg02.png) no-repeat 20px 23px;">
					                        <h3 class="h3"><a href="">精益求精</a></h3>
					                        <em></em>
				                        </div>	
			                        </li>
		                        
		                
		                        
			                        <li>
				                        <div class="list_box" style="background:url(/uploadfiles/womensheji/bg03.png) no-repeat 20px 23px;">
					                        <h3 class="h3"><a href="">金玉其质</a></h3>
					                        <em></em>
				                        </div>
				                        <a href="" class="img"><img src="http://www.wmrent.com/uploadfiles/womensheji/index01_21.jpg" alt=""></a>
			                        </li>
		                        
		                
					</ul>
					<div class="clear"></div>
				</div>
	</div>		
			<div class="idxbox5">
				<div class="wrap">
					<h1 class="h1">我们服务</h1>
					<div class="idxbox5_wrap">
						<div class="idxbox5_L">
							<div class="BanList">
							<div class="tempWrap" style="overflow:hidden; position:relative; width:795px"><ul class="ul" style="width: 4770px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1590px;"><li class="clone" style="float: left; width: 795px;">
		                                <a href=""><img src="http://www.wmrent.com/uploadfiles/image/index03_03.jpg" alt=""></a>
										<div class="shadow">
											<a href="">
											  	<span class="title">我们搬家</span>
											  	<span class="text">我们搬家小咖秀</span>
											  	<em></em>
											</a>
										</div>
							        </li>
		                        
							        <li style="float: left; width: 795px;">
		                                <a href=""><img src="http://www.wmrent.com/uploadfiles/image/index03_03.jpg" alt=""></a>
										<div class="shadow">
											<a href="">
											  	<span class="title">我们搬家</span>
											  	<span class="text">我们搬家小咖秀</span>
											  	<em></em>
											</a>
										</div>
							        </li>
		                        
							        <li style="float: left; width: 795px;">
		                                <a href=""><img src="http://www.wmrent.com/uploadfiles/image/index03_03.jpg" alt=""></a>
										<div class="shadow">
											<a href="">
											  	<span class="title">我们搬家</span>
											  	<span class="text">我们搬家小咖秀</span>
											  	<em></em>
											</a>
										</div>
							        </li>
		                        
							        <li style="float: left; width: 795px;">
		                                <a href=""><img src="http://www.wmrent.com/uploadfiles/image/index03_03.jpg" alt=""></a>
										<div class="shadow">
											<a href="">
											  	<span class="title">我们搬家</span>
											  	<span class="text">我们搬家小咖秀</span>
											  	<em></em>
											</a>
										</div>
							        </li>
		                        
							        <li style="float: left; width: 795px;">
		                                <a href=""><img src="http://www.wmrent.com/uploadfiles/image/index03_03.jpg" alt=""></a>
										<div class="shadow">
											<a href="">
											  	<span class="title">我们搬家</span>
											  	<span class="text">我们搬家小咖秀</span>
											  	<em></em>
											</a>
										</div>
							        </li>
		                        
							<li class="clone" style="float: left; width: 795px;">
		                                <a href=""><img src="http://www.wmrent.com/uploadfiles/image/index03_03.jpg" alt=""></a>
										<div class="shadow">
											<a href="">
											  	<span class="title">我们搬家</span>
											  	<span class="text">我们搬家小咖秀</span>
											  	<em></em>
											</a>
										</div>
							        </li></ul></div>
							</div>
							<a href="javascript:void(0);" class="btn prev"></a>
							<a href="javascript:void(0);" class="btn next"></a>
						</div>

						<div class="idxbox5_R">
							<ul class="ul">
								<li class="top">服务指南</li><!--服务指南-->
		                        
								<li class="list"><a href="">如何快速搜索到目标房源</a></li>
								
								<li class="list"><a href="">我们信用</a></li>
								
							</ul>
							<ul class="ul">
								<li class="top">投诉公示</li><!--投诉公示-->
								
								<li class="list"><a href="">退租晚打款</a></li>
								
								<li class="list"><a href="">邻里作息时间纠纷</a></li>
								
							</ul>
							<ul class="ul">
								<li class="top">联系我们</li><!--联系我们-->
								
								<li class="list"><a href="">微信客服：9:00—22:00全程服务</a></li>
								
								<li class="list"><a href="">我们400服务</a></li>
								
							</ul>
						</div>
						<div class="clear"></div>
					</div>
					<div class="idxbox5_wrap2">
						<ul class="ul">
		                    
							<li style="background:url(../public/static/img/person01.png) no-repeat ;">
								<a href="" class="title">我们维修</a>
								<p class="p">全天候维修服务</p>
								<a href="" class="more"></a>
							</li>
		                    
							<li style="background:url(../public/static/img/person02.png) no-repeat ;">
								<a href="" class="title">我们保洁</a>
								<p class="p">日常、特需两大类保洁服务</p>
								<a href="" class="more"></a>
							</li>
		                    
							<li style="background:url(../public/static/img/person03.png) no-repeat ;">
								<a href="" class="title">我们快递</a>
								<p class="p">为您中转、为您解忧</p>
								<a href="" class="more"></a>
							</li>
		                    
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="idxbox6">
					<div class="wrap">
						<h1 class="h1">我们动态</h1>
						<ul class="ul">
			                
							<li>
								<a href="" class="img">
									<img src="http://www.wmrent.com/uploadfiles/2017/02/201702231556355635.jpg" alt="" class="round">
									<div class="radius"></div>
								</a>
								<a href="javascript:void(0);" class="title">我们•News   </a>
								<p class="p">我追求•我风采 </p>
								<em></em>
							</li>
			                
							<li>
								<a href="" class="img">
									<img src="http://www.wmrent.com/uploadfiles/2017/02/201702231556535653.jpg" alt="" class="round">
									<div class="radius"></div>
								</a>
								<a href="javascript:void(0);" class="title">我们•简单  </a>
								<p class="p">干净整洁•巧思简约 </p>
								<em></em>
							</li>
			                
							<li>
								<a href="" class="img">
									<img src="http://www.wmrent.com/uploadfiles/2017/02/201702231557515751.jpg" alt="" class="round">
									<div class="radius"></div>
								</a>
								<a href="javascript:void(0);" class="title">我们•优雅  </a>
								<p class="p">智慧选择•优雅余裕 </p>
								<em></em>
							</li>
			                
							<li>
								<a href="" class="img">
									<img src="http://www.wmrent.com/uploadfiles/2017/02/20170223155807587.jpg" alt="" class="round">
									<div class="radius"></div>
								</a>
								<a href="javascript:void(0);" class="title">我们•幸福  </a>
								<p class="p">为爱家有•幸福城堡 </p>
								<em></em>
							</li>
			                
						</ul>
						<div class="clear"></div>
					</div>
				</div>
		</div>
{include file='index/index_bottom'}
	</body>
</html>
<script type='text/javascript' src='__static__/js/jquery.min.js'></script>
<script type='text/javascript' src='__static__/js/mylunbo.js'></script>
<script src="__static__/js/swiper.min.js"></script>
<script>

    var swiper = new Swiper('.swiper-container-son', {
        spaceBetween: 30,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        autoplay: {
            delay: 2500,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
//        autoplayStopOnlast:true,
    });
    var myswiper = new Swiper('.swiper-container-father', {
        slidesPerView : 3,
        spaceBetween: 10,
        autoplay: {
            delay: 4000,
            stopOnLastSlide: false,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        allowTouchMove: false,
    });
    $('.swiper-container-father').mouseenter(function () {
        myswiper.autoplay.stop();
    })
    $('.swiper-container-father').mouseleave(function () {
        myswiper.autoplay.start();
    })
	$('.idxList').click(function(){
	    location.href='__back__/index/house_detail/index/id/'+$(this).children('.house_id').val();
	})
	$('.changzu').click(function(){
        location.href='__back__/index/list_table/index/a/1';
	})
    $('.duanzu').click(function(){
        location.href='__back__/index/list_table/index/a/0';
    })
</script>
